<div class="f-info m-top footer mb-0 " >
    <div class = "f-info-social-icons">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class = "dec"> &copy; Hotels Private limited</div>
    <div class = "f-info-links">
        <a href = "/privacy">Privacy</a>
        <a href = "/terms">Terms</a>
        <a href = "/conditions">Conditions</a>
    </div>

</div>