<% layout("../layouts/boilerplate") %>

<div class="alert alert-danger alerts" role="alert">
     <p>Oops! Something went Wrong  , try again .</p>
     <p><%= err.message %></p>
     <p><%=err%></p>
</div>